//====================================================================================================
.menu-open {
    .menu__body {
        left: 0;
    }
}
.header {
    

    &__container {
        display: flex;
        align-items: center;
        padding-top: rem(15);
    }

    &__logo {}

    @media(max-width: $mobile) {
        & {
            justify-content: space-between;
        }

        &__logo {
            margin-right: rem(10);

            img {
                width: rem(100);
                height: auto;
            }
        }

        &__site-name-block {
            display: flex;
            flex-direction: column;
        }

        &__site-name {
            text-shadow: 2.783px 4.175px 5.566px rgba(0, 0, 0, 0.75);
        }

        .shop {
            font-size: rem(54);
        }

        .light-tech {
            font-size: rem(36);
        }

        &__site-name {
            .shop-menu-block {
                display: flex;
                gap: rem(15);
            }
        }

        &__menu {
            .menu__body {
                z-index: 4;
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: auto;
                padding-top: rem(10);
                transition: left 0.3s ease 0s;
                background: $blueColor;

                &._active {
                    left: 0;
                }

                .logo {
                    width: rem(150);
                    margin-bottom: rem(20);
                }

                h2 {
                    text-align: center;
                    font-size: rem(40);
                    font-weight: 700;
                    margin-bottom: rem(30);
                }

                .menu__list {
                    display: flex;
                    flex-direction: column;
                    gap: rem(20);
                    margin-bottom: rem(50);
                }

                .menu__item {
                    font-size: rem(26);

                    a {
                        color: $yellowColor;
                        text-shadow: 2.783px 4.175px 5.566px rgba(255, 221, 1, 0.75);
                    }
                }
            }

            svg {
                path {
                    fill: $yellowColor;
                }
            }
        }
    }

    &__site-name {
        display: flex;
        color: $goldColor;
        text-transform: uppercase;
        font-weight: 500;
    }

    @media(max-width: $mobile) {
        .shop {
            display: block;
        }

        .shop-menu-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }
}

//====================================================================================================

//Burger

.icon-menu {
    display: none;

    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(27);
        z-index: 5;
        margin-right: rem(15);
        cursor: pointer;

        @media (any-hover: none) {
            cursor: default;
        }

        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $yellowColor;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: calc(50% - rem(1));
        }

        .menu-open & {
            span {
                width: 0;
            }

            &::before,
            &::after {}

            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }

            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}