//====================================================================================================
@media(max-width: 768px) {

    html.menu-open {
        .menu__body {
            left: 0;
        }
    }

    .header {
        margin-bottom: rem(40);

        &__container {
            display: flex;
            align-items: center;
            padding-top: rem(15);
        }


        @media(max-width: $mobile) {
            & {
                justify-content: space-between;
            }

            .main-menu-mobile {
                .menu__body {
                    padding: 0 rem(20);
                }
            }

            &__logo {
                margin-right: rem(10);

                img {
                    // width: rem(150);
                    @include adaptiveValue("width", 300, 100);
                    height: auto;
                }
            }

            &__site-name-block {
                display: flex;
                flex-direction: column;
            }

            &__site-name {
                text-shadow: 2.783px 4.175px 5.566px rgba(0, 0, 0, 0.75);
            }

            .shop,
            .light-tech {
                @include adaptiveValue("font-size", 56, 20);

                @media(max-width: 588px) {
                    @include adaptiveValue("font-size", 76, 20);
                }
            }

            &__site-name {
                .shop-menu-block {
                    display: flex;
                    flex-direction: column;
                    gap: rem(15);
                    align-items: center;
                    justify-content: space-between;

                    @media(max-width: 588px) {
                        // flex-direction: column;
                        // align-items: center;
                    }

                }
            }

            &__menu {

                svg {
                    path {
                        fill: $yellowColor;
                    }
                }

                .icon-menu-clicked {
                    z-index: 50;
                }
            }
        }

        @media(max-width: 588px) {
            & {
                margin-bottom: rem(20);
            }
        }

        &__site-name {
            display: flex;
            color: $goldColor;
            text-transform: uppercase;
            font-weight: 500;
        }

        @media(max-width: $mobile) {
            .shop {
                display: block;
            }

        }

        .main-menu-mobile {
            align-self: start;
        }

        .block-menu-icons {
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: rem(15);

            color: $yellowColor;

            a {
                font-size: rem(25);
            }
            @media(max-width: 500px){
                // flex-direction: row;
                // align-self: start;
            }
        }
    }

    //====================================================================================================

    //Burger

    .icon-menu {
        display: none;

        @media (max-width: $mobile) {
            display: block;
            position: relative;
            width: rem(30);
            height: rem(27);
            z-index: 20;
            margin-right: rem(15);
            cursor: pointer;

            @media (any-hover: none) {
                cursor: default;
            }

            span,
            &::before,
            &::after {
                content: "";
                transition: all 0.1s ease 0s;
                right: 0;
                position: absolute;
                width: 100%;
                height: rem(2);
                background-color: $yellowColor;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            span {
                top: calc(50% - rem(1));
            }

            .menu-open & {
                span {
                    width: 0;
                }

                &::before,
                &::after {}

                &::before {
                    top: calc(50% - rem(1));
                    transform: rotate(-45deg);
                }

                &::after {
                    bottom: calc(50% - rem(1));
                    transform: rotate(45deg);
                }
            }
        }

        & {
            margin-right: 0;
        }

    }
}